body {
  font-family: Arial;
  padding: 20px;
}

section {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
}

input,
button,
select {
  display: block;
  margin: 8px 0;
  padding: 6px;
}

.error {
  color: red;
}
